body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
}

.header {
  background-color: #212529;
  display: flex;
  padding: 8px 300px;
  justify-content: space-between;
  height: 56px;
}

.header-title {
  display: flex;
  font-weight: 400;
  font-size: 19.74px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
}

#l-projects {
  color: #ffffff8c;
  font-size: 15.61px;
  line-height: 24px;
  letter-spacing: 0px;
}

#l-mission {
  color: #ffffff;
  font-size: 15.78px;
  line-height: 24px;
  letter-spacing: 0px;
}

#l-log-out {
  color: #ffffff;
  font-size: 14.25px;
  line-height: 24px;
  letter-spacing: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  gap: 262px;
  height: 197px;
}
.project-content {
  width: 648px;
}

.project-content h2 {
  font-weight: 500;
  font-size: 23.54px;
  line-height: 28.8px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

.project-content p {
  font-weight: 400;
  font-size: 15.99px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 48px;
}

.project-content button {
  width: 155px;
  height: 38px;
  top: 140.8px;
  border-radius: 6px;
  border-width: 1px;
  background: #0d6efd;
  border: 1px solid #0d6efd;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.15s linear;
}

.project-content button:hover {
  transform: translateY(-5px);
}

.team-card {
  display: flex;
  flex-direction: column;
}

.team-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#btn-add-member {
  width: 132px;
  height: 31px;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #6c757d;
  cursor: pointer;
}

.team-members {
  display: flex;
  gap: 25px;
  margin-bottom: 48px;
  justify-content: space-between;
}

.member {
  display: flex;
  flex-direction: column;
}

.team-members .member-name {
  font-weight: 600;
  font-size: 13.65px;
  line-height: 24px;
  letter-spacing: 0px;
}

.more {
  width: 40px;
  height: 42px;
  border-radius: 50%;
  background: #e2e3e5;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #e2e3e5;
  cursor: pointer;
}

.team-form {
  display: flex;
  justify-content: space-between;
  height: 38px;
  width: 386px;
}

.team-form select {
  width: 150px;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 15.79px;
  line-height: 26px;
  letter-spacing: 0px;
}

.team-form input {
  width: 220px;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 15.71px;
  line-height: 26px;
  letter-spacing: 0px;
}

.main-table {
  padding: 17px;
  background-color: #ffffff;
  border: 1px solid #0000002d;
  box-shadow: 0px 5px 5px 0px #00000033;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table-title {
  height: 24px;
  font-weight: 500;
  font-size: 19.72px;
  line-height: 24px;
  letter-spacing: 0px;
}

.table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.thead {
  border: 1px solid #dfe0e1;
  background: #f8f9fa;
  height: 41px;
}

.tbody tr {
  height: 48px;
  text-align: center;
}

.tbody tr td {
  border: 1px solid #dee2e6;
}

.table button {
  cursor: pointer;
  transition: all 0.15s linear;
}

.table button:hover {
  opacity: 0.8;
  transform: translateY(-3px);
}

.priority {
  color: #ffffff;
  font-weight: 600;
  line-height: 16px;
  font-size: 11.53px;
}

.pr-l {
  background-color: #0dcaf0;
  padding: 3px 10px;
  width: fit-content;
  height: 20px;
  border-radius: 6px;
}

.pr-m {
  background-color: #ffa500;
  padding: 3px 10px;
  width: fit-content;
  height: 20px;
  border-radius: 6px;
}

.pr-h {
  background-color: #dc3545;
  padding: 3px 10px;
  width: fit-content;
  height: 20px;
  border-radius: 6px;
}

.date {
  color: #0d6efd;
}

.progress {
  color: #ffffff;
  font-weight: 600;
  font-size: 11.53px;
  line-height: 16px;
  letter-spacing: 0px;
}

.prg-t {
  background-color: #198754;
  padding: 3px 10px;
  width: fit-content;
  height: 20px;
  border-radius: 6px;
}

.prg-f {
  background-color: #dc3545;
  padding: 3px 10px;
  width: fit-content;
  height: 20px;
  border-radius: 6px;
}

.prg-r {
  background-color: #ffa500;
  padding: 3px 10px;
  width: fit-content;
  height: 20px;
  border-radius: 6px;
}

.btn-edit {
  background-color: #ffc107;
  width: 61px;
  height: 31px;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #ffc107;
}
.btn-delete {
  color: #ffffff;
  width: 41px;
  height: 31px;
  border-radius: 4px;
  border-width: 1px;
  background: #dc3545;
  border: 1px solid #dc3545;
}

.table-category {
  font-weight: 600;
  font-size: 15.47px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: #ffffff;
  width: 100%;
  height: 56px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.modal {
  background: #ffffff;
  margin-top: 33px;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.modal-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

.form-close {
  font-size: 30px;
  cursor: pointer;
}

.modal-body {
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d0d5dd;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 28px;
  width: 432px;
}

.input-container input {
  height: 44px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}

.input-container select {
  height: 44px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}

.modal-footer {
  margin-top: 37px;
  margin-bottom: 8px;
  margin-right: 24px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.button-container button {
  height: 37px;
  width: 58px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

.body-title {
  display: flex;
  width: 566px;
  justify-content: space-around;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.members {
  display: flex;
  flex-direction: column;
}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  line-height: 19.2px;
  letter-spacing: 0px;
}

.member-info h4 {
  font-size: 16px;
  font-weight: 400;
}

.member-role {
  display: flex;
  gap: 15px;
  align-items: center;
}

.member-role input {
  padding-left: 5px;
  height: 26px;
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #d0d5dd;
}

.icon-del {
  color: red;
  cursor: pointer;
}

.btn-cancel {
  background-color: #6c757d;
}

.btn-save {
  background-color: #0d6efd;
}
